*{
    margin: 0;
    box-sizing: border-box;
    padding: 4px;
}


body {
    height: 2000px;
    width: auto;
    font-family: sans-serif;
    background-color: #191919f9;
    
}


/*NAV*/
.navgoogle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
}

.googlebar1, .googlebar2, a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.googlebar1 a:hover, .googlebar2 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.searchcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar img {
    width: auto;
    height: 145px;
    
}